on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: HubSpot Project Upload
        id: upload-step
        uses: HubSpot/hubspot-project-actions/project-upload@v1.0.0
        env:
          HUBSPOT_ACCOUNT_ID: ${{ secrets.HUBSPOT_ACCOUNT_ID }}
          HUBSPOT_PERSONAL_ACCESS_KEY: ${{ secrets.HUBSPOT_PERSONAL_ACCESS_KEY }}

      - name: HubSpot Project Deploy
        uses: HubSpot/hubspot-project-actions/project-deploy@v1.0.0
        with:
          build_id: ${{ steps.upload-step.outputs.build_id }}
        env:
          HUBSPOT_ACCOUNT_ID: ${{ secrets.HUBSPOT_ACCOUNT_ID }}
          HUBSPOT_PERSONAL_ACCESS_KEY: ${{ secrets.HUBSPOT_PERSONAL_ACCESS_KEY }}
